/* Home.css */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
    padding: 20px;
  }
  
  .home-content {
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  
  .home-content p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #666;
    margin: 20px 0;
  }
  